/* Login Styles */

body {
    &.login {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* LOGIN PAGE */
.instanceName {
    font-family: "GT Haptik Bold";
}

div.login div.login_product {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='38' class='p-dw-logo'%3E%3Cpath d='M75.807 37.925h4.107L72.87 28.9l7.024-7.014h-4.547l-6.788 6.759v-6.76H65.33v16.041h3.228V33.2l2.026-2.011 5.223 6.737zm-24.386 0v-5.364h2.005l3.464 5.364h3.946l-3.828-5.705a5.188 5.188 0 0 0 1.394-.756c.418-.319.783-.702 1.083-1.139.3-.436.536-.915.708-1.447a5.378 5.378 0 0 0 .257-1.66c0-.746-.139-1.448-.407-2.098a5.239 5.239 0 0 0-1.115-1.692 5.368 5.368 0 0 0-1.705-1.139 5.5 5.5 0 0 0-2.145-.415h-6.885v16.04h3.228v.011zm5.233-9.207c-.375.415-.9.628-1.587.628h-3.646v-4.268h3.646c.676 0 1.201.213 1.587.628.375.426.569.926.569 1.5 0 .597-.194 1.097-.569 1.512zm-24.976-6.844v16.04h10.435v-3.203h-7.207v-3.204h7.207v-3.204h-7.207V25.1h7.207v-3.204H31.678v-.021zM9.287 37.925l4.804-11.431 4.804 11.431h3.025l6.262-16.04h-3.464l-4.364 11.187-4.665-11.187h-3.185L7.828 33.06 3.464 21.874H0l6.263 16.04h3.024v.011zM75.807 16.04h4.107L72.87 7.016 79.893 0h-4.547l-6.788 6.76V0H65.33v16.04h3.228v-4.725l2.026-2.012 5.223 6.738zM56.021 0v10.548L47.292 0h-2.82v16.04H47.7V5.504l8.729 10.549h2.82V0h-3.228zM27.614 0v16.04h10.434v-3.203h-7.206V9.633h7.206V6.418h-7.206V3.204h7.206V0H27.614zm-8.397 9.931a4.716 4.716 0 0 1-.954 1.522c-.408.426-.901.767-1.48 1.011-.58.245-1.212.362-1.909.362h-2.627V3.204h2.627c.697 0 1.33.128 1.909.362.579.245 1.072.585 1.48 1.011.407.426.729.937.954 1.522.236.586.343 1.224.343 1.916s-.118 1.33-.343 1.916zM9.008 0v16.04h5.866c1.137 0 2.198-.201 3.164-.606a7.657 7.657 0 0 0 2.509-1.671 7.754 7.754 0 0 0 1.651-2.533c.397-.98.6-2.044.6-3.204 0-1.16-.203-2.236-.6-3.204a7.754 7.754 0 0 0-1.651-2.533 7.44 7.44 0 0 0-2.51-1.672c-.965-.404-2.026-.606-3.163-.606H9.008V0z'%3E%3C/path%3E%3C/svg%3E");
    width: 80px;
    height: 38px;
}

.customlogo {
    height: 0 !important;
}

.company,
.product,
.instanceName {
    display: none;
}

div.login div.login_box {
    background: white;
    border-radius: 6px;
}

div.login input.textfield {
    border-radius: 3px;
}

div.login input.button {
    background-image: none !important;
    background-color: rgb(0, 165, 181) !important;
    height: auto;
}
