/* Login Styles */

body {
    &.login {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* LOGIN PAGE */
.instanceName {
    font-family: "GT Haptik Bold";
}

div.login div.login_product {
    background-image: url("images/dw-logo.svg");
    width: 80px;
    height: 38px;
}

.customlogo {
    height: 0 !important;
}

.company,
.product,
.instanceName {
    display: none;
}

div.login div.login_box {
    background: white;
    border-radius: 6px;
}

div.login input.textfield {
    border-radius: 3px;
}

div.login input.button {
    background-image: none !important;
    background-color: rgb(0, 165, 181) !important;
    height: auto;
}
